@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
:root {
    --primary-color: #03467D;
    --primary-color-darker: #032a49;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Kanit', sans-serif;
}

/* #result{
    
} */

.table {
    margin-left: auto;
    margin-right: auto;
}

.col1, .col2 {
    text-align: left;
    padding-right: 50px;
}

.container {
    max-width:  640px;
    margin: 50px auto;
    background: floralwhite;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
}

form input {
    font-size: 24px;
    height: 30px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

#result {
    border: none;
    margin-top: 10px;
    background: #db2c2c;/* #11ab56 */ /* #db2c2c */
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 0px;
    cursor: pointer;
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

form button:hover{
    background: var(--primary-color-darker);
}

form button:active{
    background: var(--primary-color-darker);
}